.wrong {
    margin-top: 5px;
    margin: auto; /* Выравниваем по центру */
    padding: 5px;
    background-color: #F00;
    border: 2px solid #666;
    width: auto;
    color: #000000;
}

.wrong1 {
    margin-top: 125px;
    margin-bottom: 200px;
    margin: auto; /* Выравниваем по центру */

    padding: 15px;
    background-color: red;
    border: 8px solid yellow;
    width: 80%% auto;
    text-align: center;
    font-size: 150%;
    color: yellow;
}

.sts2 {
    color: #363030;
    margin: auto; /* Выравниваем по центру */
    text-shadow: #000 0px 1px 0px;
}

.my-rule {
    margin-top: 125px;
    margin-bottom: 200px;
    margin: auto; /* Выравниваем по центру */

    padding: 15px;
    background-color: red;
    border: 5px solid yellow;
    width: 80%% auto;
    text-align: center;
    font-size: 150%;
    color: yellow;

}

.conta1 {
    background-color: #559964;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -430px;
    height: 600px;
    width: 860px;
}

.center {

    width: 650px; /* Ширина элемента в пикселах */
    padding: 50px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: rgba(214, 214, 214, 0.96);
    text-align: center;
    vertical-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

#centered {
    margin-left: auto;
    margin-right: auto;
    width: 6em /*margin:0 auto;
		width:400px;*/

    padding-top: 90px;
    padding-bottom: 90px;

    margin-top: 100px;

    display: table-cell;
    height: 100px;
    border: 5px solid yellow;
    text-align: center;
    vertical-align: middle;

a.knopka {
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212, 75, 56); /* фон кнопки */
    align: center;
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

a.knopka:hover {
    background: rgb(232, 95, 76);
}

/* при наведении курсора мышки */
a.knopka:active {
    background: rgb(152, 15, 0);
}

/* при нажатии */

a.button7 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

a.button7:hover {
    background: rgb(53, 167, 110);
}

a.button7:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

